@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.bg-hero {
  background-image: url("/Hero/banner_1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-drop1 {
  background-image: url("/Drops/drop1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.H2 {

  /* H2 */

  font-family: 'Aktiv Grotesk Ex';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  /* identical to box height */

  text-align: center;

  color: #FFFFFF;

}

.text1 {
  font-family: 'Aktiv Grotesk Ex';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  text-align: center;
  letter-spacing: 0.02em;

  color: #FFFFFF;

}